.cardItemContainer {
    padding: 10px 25px 10px 0;

    &.cardDragging {
        display: none;
    }

    &.cardDraggedOver {
        box-shadow: 0 -2px 0 0px black;
    }

    .cardItem {
        width: 100%;
        background-color: white;
        border-radius: 4px;
        padding: 20px;
        cursor: move;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            transform: scale(1.05);
        }

        .cardItemHeader {
            box-shadow: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 20px;
            margin: 15px 0 30px;
            padding: 0;
            cursor: inherit;

            .cardItemCloseIcon {
                transition: transform 0.2s linear;
                width: 20px;
                height: 20px;
                padding: 3px;
                border: 2px solid transparent;
                border-radius: 50%;

                &:hover {
                    color: red;
                    border-color: red;
                    animation: showCross 0.5s infinite ease-in-out;
                }

                @keyframes showCross {
                    0%,
                    100% {
                        transform: scale(1);
                    }

                    50% {
                        transform: scale(1.25);
                    }
                }
            }
        }

        p {
            margin: 0;
            font-size: 16px;
        }
    }
}
