.dashboardContainer {
    padding: 0 20px;
    margin: 40px auto;

    .sectionHeader {
        text-align: left;
        font-weight: 200;
        box-shadow: none;
        padding: 8px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
}